.chart-area-symbol {
    -fx-background-radius: 1px;
    -fx-padding: 0px;
}

.axis-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-font-family: 'Arial', sans-serif;
}

.axis-tick-label {
    -fx-font-size: 11px;
    -fx-rotate: 0;
    -fx-alignment: center-left;
    -fx-font-family: 'Arial', sans-serif;
}

.chart-title {
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-font-family: 'Arial', sans-serif;
}

.chart-series-area-line {
    -fx-stroke: #0CAFFF;
    -fx-stroke-width: 2px;
}

.chart-series-area-fill {
    -fx-fill: #0CAFFF;
    -fx-opacity: 0.2;
}

.chart-series-area-fill:hover {
    -fx-fill: #0CAFFF;
    -fx-opacity: 0.4;
}

.chart {
    -fx-background-color: #FFF;
    -fx-border-color: #CCC;
    -fx-border-width: 1px;
}