@import url("style.css");

.text {
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
}

.title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.subtitle{
    -fx-text-fill: #A9A9A9;
    -fx-font-size: 11px;
}

.button {
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 15;
}

.bar {
    -fx-background-color: -fx-surface;
}

.background {
    -fx-background-color: -fx-above-surface;
}