@import url("style.css");

.title {
    -fx-font-weight: bold;
    -fx-font-style: under;
    -fx-font-size: 18px;
}

.setting-label {
    -fx-font-size: 14px;
}

.info{
    -fx-text-fill: #A9A9A9;
    -fx-font-size: 11px;
}