@import url("font.css");

* {
    -fx-primary: #BB86FC; /* Marker, for runtime generated colors */
    -fx-primary-desaturated: #534A5E;
    -fx-primary-light: #D6BCF7;

    -fx-background: #121212;
    -fx-surface: #202020;
    -fx-above-surface: #282828;
    -fx-danger: #D10647;

    -fx-text-fill: white;
    -fx-font-family: "Roboto";
}

.background {
    -fx-background-color: -fx-background;
}

.surface {
    -fx-background-color: -fx-surface;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.above-surface {
    -fx-background-color: -fx-above-surface;
    -fx-border-style: hidden;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.subtitle {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.about-body {
    -fx-font-size: 12px;
}

/* Eventually removed once all modules are created*/
.module-placeholder-text {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.button,
.combo-box,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell,
.jfx-tree-view,
.jfx-tree-view-path > .viewport,
.jfx-tree-view-path:focused > .viewport,
.jfx-tree-view-path .buttons-container {
    -fx-cursor: hand;
}

.jfx-tree-view-path > .viewport,
.jfx-tree-view-path:focused > .viewport,
.jfx-tree-view-path .buttons-container {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -fx-above-surface;
    -fx-text-fill: white;
}

.selection-bar {
    -fx-background-color: -fx-primary;
}

.tree-cell,
.tree-cell:filled,
.tree-cell:focused,
.tree-cell:selected {
    -fx-background-color: -fx-above-surface;
    -fx-text-fill: white;
    -fx-padding: 10 0 10 5;
}

.tree-cell > .jfx-rippler {
    -jfx-rippler-fill: -fx-primary
}

.combo-box > .list-cell,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:even,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:odd {
    -fx-border-radius: 0;
    -fx-border-color: -fx-surface;
    -fx-background-radius: 0;
    -fx-background-color: -fx-surface;
    -fx-text-fill: white;
}

.combo-box > .list-cell {
    -fx-padding: 4 8 4 0;
}

.jfx-hamburger StackPane {
    -fx-background-color: white;
}

.jfx-combo-box > .input-focused-line,
.jfx-text-field > .input-focused-line {
    -fx-background-color: -fx-primary-light;
}

.action-object,
.jfx-combo-box > .input-line,
.jfx-text-field > .input-line,
.jfx-decorator > .jfx-decorator-buttons-container {
    -fx-background-color: -fx-primary;
    -fx-fill: -fx-primary;
    -fx-stroke: -fx-primary;
}

.jfx-decorator > .jfx-decorator-buttons-container > .jfx-button:hover {
    -fx-background-color: -fx-primary-light;
}

.jfx-decorator > .resize-border {
    -fx-border-color: -fx-primary;
    -fx-border-width: 0 3 3 3;
}

.jfx-snackbar-content {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: -fx-above-surface;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar {
    -fx-text-fill: -fx-primary;
}

.jfx-snackbar-action {
    -fx-text-fill: -fx-primary;
    -fx-font-weight: bold;
}

.transparent-button,
.transparent-button:disabled {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-opacity: 1.0;
}

.transparent-button:hover {
    -fx-background-color: -fx-primary-light;
}

.transparent-button-no-hover:hover {
    -fx-background-color: transparent;
}

.close-window-button:hover {
    -fx-background-color: -fx-danger;
}

.scroll-bar {
    -fx-background-color: -fx-above-surface;
    -fx-background-insets: 0, 3;
}

.scroll-bar > .thumb {
    -fx-background-color: -fx-primary;
    -fx-background-insets: 0, 3;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.scroll-bar > .track {
    -fx-background-color: -fx-above-surface;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button,
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button,
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button,
.corner {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0 5 0 5;
}

.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 0 5 0;
}

.jfx-radio-button {
    -jfx-selected-color: -fx-primary;
    -jfx-unselected-color: white;
}

.setting-title {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.setting-label {
    -fx-font-size: 14px;
}

.setting-info {
    -fx-text-fill: #A9A9A9;
    -fx-font-size: 11px;
}

jfx-toggle-button,
.jfx-toggle-button:armed,
.jfx-toggle-button:hover,
.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:focused:selected {
    -jfx-toggle-color: -fx-primary;
    -jfx-toggle-line-color: -fx-primary-light;
}

.jfx-toggle-button:selected Line{
    -fx-stroke: -fx-primary-light;
}

.jfx-toggle-button:selected Circle{
    -fx-fill: -fx-primary;
}

.jfx-toggle-button:selected .jfx-rippler {
    -jfx-rippler-fill: -fx-primary-light;
}

.pass {
    -fx-text-fill: #A0B55F;
}

.fail {
    -fx-text-fill: #F03030;
}